.skills{
  	text-align: center;
    background-color: gray;
    padding: 10px;
}
.skills h3{
	font-size: 1.1em;
}
.skills ul li{
	background-color: white;
	border: 1px solid gray;
	display: inline-grid;
	padding: 20px;
	margin: 20px 50px;
	list-style: none;
}
.skills img{
	height: 180px;
	width: 200px;
}
.skills figcaption{
	font-weight: bold;
	text-align: center;
	font-size: 0.6em;
}