/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/marvin-meyer-SYTO3xs06fU-unsplash.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
}
/* Navbar*/
nav{
    padding: 10px;
    display: flex;
    flex: 1 100%;
    justify-content: space-between;
    background-color: #FFA8B9;
}
header{
    display: flex;
    flex: 1;
    text-decoration: none;
    width: 100%;
}
header li{
    display: inline-block;
    list-style-type: none;
    margin-right: 86px;
    font-size: 16px;
    line-height: 19px;
}
header li a{
    text-decoration: none;
    color:black;
}
header li a:hover{
    color: #A28089;
    font-family: 'Raleway', sans-serif;
}
.logo{
    padding-left: 30px;
    width: 80px;
}
section{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.act{
  padding: 20px;
}
.act img{
    width: 400px;
    height: 400px;
    margin: 20px 100px;
}
.form{
   border: solid 1px black;
   border-radius: 20px;
   width: 1000px;
   height: fit-content;
   padding: 20px;
   margin: 20px 100px;
   background-color: rgba(228, 233, 237, 0.5);
}
#Full-Name,
#Email,
#subject{
   width: 100%;
   border: 1px solid #5f5f5f;
   border-radius: 10px;
   height: 25px;
}
#message{
  width: 100%;
  height: 100px;
  border-radius: 10px
  border: 1px solid #5f5f5f;
}
input[type=submit]
{
   border-radius: 5px;
   padding: 10px;
   font-size: 22px;
   height: 50px;
   width: 30px;
}
/*footer*/
footer{
    background-color: #FFA8B9;
    color: #A28089;
    display: flex;
    flex: 1 100%;
    width: 100%;
    align-content: center;
}
footer ul li{
    text-align: left;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}
.footerlist{
    margin-right: 250px;
}
.footer-signup{
        margin: auto;
}
#footer-email{
    margin-top: 10px;
    width: 250px;
    height: 30px;
}
#footer-submit{
    margin-top: 10px;
    font-size: 15px;
    padding: 15px;
    background-color: #FFA8B9;
    color: #A28089;
}
.footer-connect{
    padding: 10px;
    margin-left: 250px;
}
.footer-connect .img{
    height: 40px;
    width: 40px;
    padding: 7px;
    border-radius: 15px;
    }
.footer1 p{
    cursor: pointer;
    text-align: center;
    padding: 10px;
}
.footer2{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: 1;
}